<header>
    <nav>
        <section class="nav-link-p" id="logo-section" onclick="@OnLogoClick">
                <h3><span>My</span>Playlist</h3>
        </section>
        <section id="nav-items-section">
            <ul>
                <NavLink class="nav-link-p" href="/playlist/add">
                    <li>Add Playlist</li>
                </NavLink>
                <NavLink class="nav-link-p" href="/test">
                    <li>Add Song</li>
                </NavLink>
                <NavLink class="nav-link-p" href="/test2">
                    <li>My Profile</li>
                </NavLink>
            </ul>
        </section>
    </nav>
</header>