<header>
    <nav>
        <section id="logo-section">
            <h3><span>My</span>Playlist</h3>
        </section>
        <section id="nav-items-section">
            <ul>
                <NavLink href="/home">
                    <li>Link1</li>
                </NavLink>
                <NavLink href="/test">
                    <li>Link1</li>
                </NavLink>
                <NavLink href="/test2">
                    <li>Link1</li>
                </NavLink>
            </ul>
        </section>
    </nav>
</header>