@page "/playlists/all"

<h2>Playlists</h2>

<section id="playlists">
    @if (PlaylistsData.Count() == 0)
    {
        <h1>Currently there are no playlists in the database!</h1>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th>
                        Playlist Name
                    </th>
                    <th>
                        Songs Count
                    </th>
                    <th>
                        Details
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var playlist in PlaylistsData)
                {
                    var detailsLink = $"/playlists/details/{playlist.Id}";
                    <tr>
                        <td>
                            @playlist.Name
                        </td>
                        <td>
                            @playlist.Songs.Count()
                        </td>
                        <td>
                            <BSButton Color="BSColor.Primary" OnClick="@(()=>AddSong(playlist.Id))" Target="modal1">AddSong</BSButton>
                        </td>
                        <td>
                            <NavLink href=@detailsLink>
                                More Info
                            </NavLink>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</section>
<BSModal DataId="modal1">
    <Header>Add Song</Header>
    <Content>

    </Content>
    <Footer Context="modal">
        <BSButton MarginStart="Margins.Auto" Color="BSColor.Secondary" @onclick="modal.HideAsync">Close</BSButton>
        <BSButton Color="BSColor.Primary">Add Song</BSButton>
    </Footer>
</BSModal>

